In [2]:
#Import packages
import random
import os, sys
from collections import Counter
import pytz
import pandas as pd
import numpy as np
from datetime import datetime, date, time, timedelta
import re
from IPython.display import Image
import itertools
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display

In [4]:
data_dir = "/Users/dmatekenya/Google-Drive/worldbank/smart-survey-boxes/data/"
sum_file_1 = os.path.join(data_d + 'proce'))

In [ ]:
df_sum = pd.read_csv(

In [3]:
# Get the data: sms_rect_hr.csv'
cols_to_use = ['box_id', 'psu', 'lon', 'lat', 'str_datetime_sent_hr', 'day_sent', 'hour_sent', 'month_sent',
                   'wk_day_sent', 'wk_end', 'event_type_num', 'event_type_str', 'power_state', 'data_source']
sms1 = pd.read_csv(data_dir + 'sms_observed.csv', parse_dates=['str_datetime_sent', 'str_datetime_sent_hr'])
sms2 = pd.read_csv(data_dir + 'sms_rect_hr.csv', usecols=cols_to_use, parse_dates=['str_datetime_sent_hr'])
sms2.rename(columns={'str_datetime_sent_hr': 'datetime_sent_hr'}, inplace=True)

# Remove missing values
sms2 = sms2[sms2.power_state != -1]

In [4]:
sms1_state = sms1[sms1['event_type_str'].isin(['pfail','pback'])]
sms1_state_elaps = ut.add_elapsed_time_to_dataframe(sms1_state)
sms1_all_elaps = ut.add_elapsed_time_to_dataframe(sms1)

In [10]:
sms1_state_elaps.event_type_str.value_counts(normalize=True)

pfail    0.506504
pback    0.493496
Name: event_type_str, dtype: float64

In [6]:
sms1_state_elaps.time_elapsed_hrs.describe()

count    137452.000000
mean         12.790632
std          85.546170
min           0.000000
25%           0.000000
50%           0.000000
75%           6.000000
max        6223.000000
Name: time_elapsed_hrs, dtype: float64

In [9]:
sms1_all_elaps.event_type_str.value_counts(normalize=True)

pon_mon      0.414219
pfail        0.263175
pback        0.256416
pfail_mon    0.066191
Name: event_type_str, dtype: float64

In [8]:
sms1_all_elaps.time_elapsed_hrs.describe()

count    264539.000000
mean          6.721172
std          55.192265
min           0.000000
25%           0.000000
50%           3.000000
75%          12.000000
max        6215.000000
Name: time_elapsed_hrs, dtype: float64

**Event sequences**
===========

In [13]:
events = list(sms1.event_type_str)
transition_matrix = pd.DataFrame(index=list(set(events)),columns=list(set(events)))

for (x,y), c in Counter(zip(events, events[1:])).items():
    transition_matrix.loc[x][y] = c
    #print(x,y, c)

transition_matrix

           pfail pfail_mon  pback pon_mon
pfail       2613      9657  56204    1146
pfail_mon    949      4727   9176    2658
pback      37997       664   1906   27264
pon_mon    28060      2462    546   78509